.banner {
    picture {
        position: absolute;
        top: 0;
        left: 0;
    }

    .banner-text {
        position: relative;

        &__title {
            font-family: $Open-sans;
            font-size: 35px;
            color: $white;
            margin-top: 220px;
            margin-bottom: 20px;
            font-weight: 700;

            @include media-breakpoint-up(lg) {
                font-size: 72px;
                margin-bottom: 35px;
            }
        }

        &__subtitle {
            font-size: 15px;
            font-family: $Open-sans;
            color: $white;

            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }
    }
}