.latest-news {
    background: url("../images/news-bg.jpg");
    width: 100%;
    background-size: cover;
   

    &__img {
        height: 418px;
        background-size: auto;
    }
}

.news {
    &__title {
        font-family: $Open-sans;
        color: $blue;
        font-size: 36px;
        margin-bottom: 61px;
    }

    &__subtitle {
        font-family: $Open-sans;
        color: $grey;
        font-size: 16px;
        margin-bottom: 53px;
    }
}