.newsletter {
    padding: 62px 0 130px 0;
    background: $gallery;
    &__title {
        font-family: $Open-sans;
        color: $firefly;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    &__subtitle {
        font-size: 16px;
        font-family: $Open-sans;
        color: $tuatara;
        font-style: italic;
        margin-bottom: 33px;
        max-width: 1200px;
        
    }
    .form-control {
        width: 100%;
        height: 43px;
        border-radius: 0;
        margin-bottom: 16px;
        border: 1px solid $cloud;
    }
}