$colors: (
  white: #ffffff,
  black: #000000,
  blue: #4ec1e0,
  grey: #959595,
  lima: #7fb618,
  tundora: #4d4d4d,
  tuatara: #3a3937,
  orient: #01567d,
  firefly: #0b1a26,
  gallery: #EBEBEB,
  dove-gray: #696969,
  woodsmoke: #161b1d,
  cloud: #c7c5c1
);

$size: ( 
  input-btn-radius: 35px,
  textarea-btn-radius: 10px
);

$font-weight: (
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800
);

 
$input-btn-radius: map-get($size, input-btn-radius);
$textarea-btn-radius: map-get($size, textarea-btn-radius);

$white: map-get($colors, white);
$black: map-get($colors, black);
$blue: map-get($colors, blue);
$grey: map-get($colors, grey);
$lima: map-get($colors, lima);
$tundora: map-get($colors, tundora);
$tuatara: map-get($colors, tuatara);
$orient: map-get($colors, orient);
$firefly: map-get($colors, firefly);
$gallery: map-get($colors, gallery);
$dove-gray: map-get($colors, dove-gray);
$woodsmoke: map-get($colors, woodsmoke);
$cloud: map-get($colors, cloud);










$regular: map-get($font-weight, regular);
$bold: map-get($font-weight, bold);

$Open-sans: 'Open Sans', sans-serif;
