.btn {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-family: $Open-sans;
}

.btn-primary {
    color: $blue;
    font-weight: $bold;
}

.btn-contact {
    background-color: $lima;
    color: $white;
    padding: 10px 84px;
    border-radius: 15px;
    text-transform: uppercase;
    margin-top: 28px;
}