body {
  font-family: $Open-sans;
  overflow-x: hidden;
  font-weight: $regular;
}

strong {
  font-weight: $regular;
}



@font-face {
  font-family: 'Gothic-Regular';
  src: url('../../fonts/Gothic A1 Bold.eot');
  src: url('../../fonts/Gothic A1 Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Gothic A1 Bold.woff2') format('woff2'),
    url('../../fonts/Gothic A1 Bold.woff') format('woff'),
    url('../../fonts/Gothic A1 Bold.svg#Gothic A1 Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E030;
}

@font-face {
  font-family: 'Gothic-Bold';
  src: url('../../fonts/Gothic A1 Regular.eot');
  src: url('../../fonts/Gothic A1 Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Gothic A1 Regular.woff2') format('woff2'),
    url('../../fonts/Gothic A1 Regular.woff') format('woff'),
    url('../../fonts/Gothic A1 Regular.svg#Gothic A1 Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E030;
}