.footers {
    background: $black;
    padding: 57px 0 88px 0;
    &__logo {
        width: 137px;
        height: 43px;
        margin-bottom: 33px;
    }
    &__info {
        color: #959595;
        font-size: 14px;
    }
    &__contact {
        color: $white;
        font-size: 24px;
        margin-bottom: 30px;
    }
    &__address {
        color: #636464;
        font-size: 14px;
        margin-bottom: 38px;
    }
    &__number {
        color: #636464;
        font-size: 14px;
    }
    &__email {
        color: $blue;
        font-size: 14px;
    }
}
.footers {
    li {
        margin-bottom: 26px;
        a {
            color: #696969;
            font-size: 16px;
            text-decoration: none;
        }
    }
}