nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    // &.sticky {
    //  //   padding: 5px 100px;
    //     background: $black;
    // }
}

.sticky {
    background: $black;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $Open-sans;
    font-size: 14px;
}

.menu {
    display: none;

    //    margin-top: 65px;
    .sticky & {
        margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        margin-bottom: 0;
        margin-top: 65px;

        .active,
        a:hover {
            background-color: $blue;
            transition: .5s;
        }
    }

    li {
        display: inline-block;

        a {
            display: flex;
            font-size: 18px;
            text-decoration: none;
            align-items: center;
            color: $white;
            margin-right: 4px;
            margin-left: 4px;
            padding: 10px 15px;
            border-radius: 10px;
        }
    }

    .showing & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: $black;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

        a:hover {
            background-color: $blue;
            transition: .5s;
            border-radius: 10px;
        }
    }
}

.logo {
    flex-shrink: 0;
    margin-top: 65px;

    .sticky & {
        margin-top: 0;
    }

    &__img {
        width: 137px;
        height: 43px;
    }
}

.fas {
    display: none;
    color: $white;
    margin-top: 10px;
}

.checkbtn {
    font-size: 30px;
    color: $white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

.burger-menu {
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}