.bg-img {
    background: url('../images/dog.jpg');
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid $blue;

}

.triangle-down {
    margin-left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid $blue;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $Open-sans;
    font-size: 14px;
    height: 80px;
}

.menu {
    display: none;
    margin-top: 65px;

    @include media-breakpoint-up(lg) {
        display: flex;
        margin-bottom: 0;

        .active,
        a:hover {
            background-color: $blue;
            transition: .5s;
            border-radius: 10px;
        }
    }

    li {
        display: inline-block;

        a {
            display: flex;
            font-size: 18px;
            text-decoration: none;
            align-items: center;
            color: $white;
            margin-right: 25px;
            margin-left: 19px;
        }
    }

    .showing & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        display: inline-grid;
        background: $black;
        padding-top: 25px;

        a:hover {
            background-color: $blue;
            transition: .5s;
            border-radius: 10px;
        }
    }
}

.logo {
    flex-shrink: 0;
    margin-top: 65px;

    &__img {
        width: 137px;
        height: 43px;
    }
}

.fas {
    display: none;
    color: $white;
    margin-top: 65px;
}

.checkbtn {
    font-size: 30px;
    color: $white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

.burger-menu {
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}
