a {
    color: $white;
    text-decoration: none;
    margin-right: 8px;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.header-top {
    background: $black;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;

    &__list {
        color: $white;
        list-style: none;
        display: inline-block;
        border-right: 1px solid $tundora;
        margin-left: 10px;
    }

    &__list1 {
        border-left: 1px solid $tundora;
        border-right: 1px solid $tundora;
    }
}